{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie 11"]
        }
      }
    ],
    "react",
    "es2015",
    "stage-0"
  ],
  "plugins": [
    "react-loadable/babel",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
