$header-height: 50px;
$sidebar-width: 70px;
$sidebar-full-width: 200px;

.app {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.header {
  height: $header-height;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  cursor: default;
  border-bottom: 1px solid $color15;
  background-color: $color4;
  color: $color3;

  .header-logo {
    height: 40px;
    overflow: hidden;
    margin-left: 10px;
  }
 
  .header-title {
    font-size: 2em;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    p {
      text-align: center;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin: 0;
    }
  }

  .header-right {
    display: flex;
    flex-direction: row;
    align-items: center;

    .header-menu {
      width: 40px;
      height: 100%;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: .3s;
      cursor: pointer;
      font-size: 1.7em;
      color: $color14;
  
      &:hover {
        background-color: $color12;
  
        .header-menu-list {
          display: block;
        }
      }
  
      .header-menu-list {
        display: none;
        position: absolute;
        right: 6px;
        top: 35px;
        font-size: 0.5em;
        border-radius: 3px;
        list-style-type: none;
        padding: 5px;
        margin: 0;
        background-color: $color7;
        color: $color9;
        box-shadow: 0 0 15px $color3;
  
        .item {
          font-size: 1em;
          padding-right: 5px;
        }
  
        li {
          padding: 5px;
          overflow: hidden;
          white-space: nowrap;
          cursor: pointer;
          border-radius: 5px;
          display: flex;
          flex-direction: row;
          align-items: center;
          font-size: 1.2em;
  
          &:hover {
            background: $color6;
          }
  
          &:active {
            background: $color3;
          }
        }
      }
    }
  
    .login {
      font-size: 1em;
      margin: 0;
      padding: 0;
    }
  }
}

.body {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.sidebar {
  width: $sidebar-width;
  overflow: auto;
  transition: .3s;
  padding: 5px;
  background-color: $color7;
  box-shadow: 2px 0 5px $color5;

  // &::-webkit-scrollbar {
  //   display: none;
  //   width: 0 !important;
  //   -ms-overflow-style: none;
  //   overflow: -moz-scrollbars-none;
  // }  

  .sidebar-menu {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;

    .active {
      background-color: $color3;
      padding: 5px;
    }

    .menu-item {
      padding: 5px;
      overflow: hidden;
      white-space: nowrap;
      cursor: pointer;
      color: $color9;
      border-radius: 5px;
      margin-bottom: 1px;
      display: flex;
      flex-direction: column;
      align-items: center;

      &:hover {
        background: $color6;
      }

      &:active {
        background: $color3;
      }

      i {
        margin-right: 5px;
        font-size: 25px;
      }

      span {
        font-size: 10px;
      }
    }
  }

  .change-size {
    position: absolute;
    left: $sidebar-width;
    top: $header-height;
    height: 50px;
    width: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color1;
    cursor: pointer;
    background-color: $color7;
    color: $color12;
    box-shadow: 2px 0 5px $color5;
    border-bottom-right-radius: 2px;
    border: none;
    margin: 0;
    padding: 0;
    transition: .3s;
    outline: none;

    &:hover {
      background-color: $color6;
      }

    &:active {
      background-color: $color3;
    }
  }


  &.opened {
    width: $sidebar-full-width;

    .change-size {
      left: $sidebar-full-width;
    }  

    .menu-item {
      flex-direction: row;
      align-items: flex-start;
      white-space: inherit;
      padding: 5px;

      i {
        font-size: 18px;
      }

      span {
        display: inline-block;
        font-size: 13px;
      }
    }
  }
}

.content {
  flex: 1;
  overflow: auto;
  padding: 0 10px;
  color: $color14;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
  cursor: default;
  border-top: 1px solid $color14;
  background-color: $color2;
  color: $color14;

  .contacts {
    .row {
      height: 100%;
    }

    .info {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .logo {
      width: 40px;
    }
  
    .icon {
      width: 25px;
    }
  }
}

@media (max-width: 500px) {
  .header-logo {
    display: none;
  }

  .header-title {
    font-size: 1.5em;
  }
}

@media (max-width: 576px) {
  .footer {
    .contacts {
      .logo {
        width: 80px;
        margin-left: 50px;
      }
    }
  }
}